@model CourseSelectViewModel
@{
    ViewBag.Title = "Choose Course";
}

@section Breadcrumbs {
  <li><a href="~/">Auger Home</a>
  <li><a href="~/Assignment/SelectCourse">Choose Course</a>
}

<h3>Choose Course</h3>

<div class="row btn-list">
  @if (Model.Courses.Any())
  {
    foreach (Course c in Model.Courses)
    {
          <div class="col-md-3 col-sm-4 col-xs-12" style="padding: 10px;">
            <a href="~/Assignment/SelectCourse/@c.CourseId" class="btn btn-primary btn-selector" role="button">
              <h4 style="">@c.CourseTitle</h4>
            </a>
          </div>
    }
  }
  else
  {
    <p>No courses found</p>
  }
</div>

<div class="clearfix"></div>
