@using Auger.Models;
@{
    ViewBag.Title = "Auger Admin Interface";
    var activeSessions = ViewBag.ActiveSessions as IEnumerable<String>;
}

<ol class="breadcrumb">
  <li><a href="~/">Auger Home</a>
  <li>Administration
</ol>

<h3>Administration</h3>

<div class="row btn-list">
  <div class="col-md-3 col-sm-4 col-xs-12">
    <a href="~/Admin/ConsumerList" class="btn btn-default" role="button">
      <h4 style="">Manage LTI Consumers</h4>
    </a>
  </div>
  <div class="col-md-3 col-sm-4 col-xs-12">
    <a href="~/User/" class="btn btn-default" role="button">
      <h4 style="">Manage Users</h4>
    </a>
  </div>
</div>
@if (activeSessions != null && activeSessions.Count() > 0)
{
  <table>
    <tr><th>Active Sessions</th></tr>
    @foreach (var s in activeSessions)
    {
      <tr><td>@s</td></tr>
    }
  </table>
}
<div class="clearfix"></div>
