
@{
    ViewBag.Title = "Unauthorized";
    ViewBag.BodyClass = "home";
}

<div class="text-center">
  <h1>Bad News!!</h1>
  <h2>You aren't awesome enough to do that!</h2>
  <span class="fa fa-frown-o" style="font-size: 200px"></span>
</div>
