body {
    background-image: url(background-light.jpg);
}

.body-content {
    /*background-color: #272b30;*/
}

.panel.course-list a.list-group-item h5 {
    background-color: #666;
    background-color: rgba(0,0,0,0.4);
}

.nav-tabs li a {
    color: #666;
    background-color: #ddd;
}

.nav-tabs li.active a,
.nav-tabs li.active a:hover,
.nav-tabs li.active a:focus {
    background-color: #ecf0f1;
}

.nav-tabs li a:hover {
    /*background-color: #337AB7;*/
    color: #000;
}

.tab-content {
    background-color: #ecf0f1;
}

.auger-extract {
  color: black;
  background-color: #ee5f5b;
}
.auger-hilite {
  background-color: #ff0;
}

.ace_marker-layer .ace_bracket {
  background-color: #ddd !important;
  margin: 0 0 0 -2px !important;
  padding: 0 4px !important;
}
